@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    padding: 0;
    margin:0;
}
.scrolled {
    background: white;
    transition: background-color 200ms linear;
}

.scrolled .navbar-nav li a
{
    color: black !important;
}

.navbar-toggler
{
    border: 1px solid #64a19d !important;
    color: #64a19d !important;
}
.navbar-toggler-icon,
section#contact .card i,
section#contact .card a,
.scrolled .navbar-nav li:hover a  {
    color: #64a19d !important;
}
.bg-black {
    background: #292929;
}

.btn-primary {
    background: #64a19d;
}

.btn-primary:hover {
    background: #4f837f;
}

body {
    font-family: 'Nunito', sans-serif;
}

nav {
    height: 10vh;
    background-color: none !important;
}

nav .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7) !important;
}

nav .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
}

section#start {
    height: 100vh;
    background: url('../image/background-black-and-white-dawn-997443.jpg');
    background-size: cover;
    padding: 25vh 0;
    background-position: bottom;
}

section#about {
    height: 100vh;
    background: url('../image/architecture-black-and-white-bridge-164357.jpg');
    background-size: cover;
    padding: 15vh 15vw;
    background-position: top;
}

section#start header {
    color: rgba(255, 255, 255, .7) !important;
}

section#about header p {
    color: rgba(255, 255, 255, .7) !important;
}

section#projects {
    padding: 25vh 0;
}

.featured-text {
    padding-left: 2rem;
    border-left: .5rem solid #64a19d;
}

.project-text {
    padding: 3rem;
}

hr {
    border-width: .25rem;
    width: 30%;
    border-color: #64a19d;
}

.img-project {
    object-fit: fill;
}

section#signup {
    padding: 10rem 0;
    height: 75vh;
    background: linear-gradient(to bottom, rgba(22, 22, 22, .1) 0, rgba(22, 22, 22, .5) 75%, #161616 100%), url('../image/black-and-white-black-and-white-clouds-1529881.jpg');
    background-attachment: scroll;
    background-size: cover;
}

section#contact {
    background: #161616;
    padding: 5rem;
}
section#contact .card {
    border-bottom: 5px solid #64a19d;
}

section#contact .card p
{
    color: rgba(22, 22, 22, .5);
}
section#contact .card a:hover
{
    color: #4f837f;
    text-decoration: none;
}

section#contact .social a
{
    color: rgba(255, 255, 255, .3)
}
section#contact .social a:hover
{
    color: rgba(255, 255, 255, .7);
    background: none;
}
footer {
    background: #161616;
}

input {
    font-size: .8rem !important;
}

@media only screen and (max-width: 991px) {
    nav {
        padding: 0 !important;
        background: white;
        height: 9vh;
    }
    nav .navbar-brand {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    nav .navbar-toggler {
        margin-right: 4rem;
        margin-right: 4rem;
    }

    nav .navbar-collapse {
        margin-top:1rem;
        padding-left: 2.8rem;
        background: white;
        padding-bottom: 1rem;
    }
    nav .navbar-collapse .nav-link {
        color: rgba(22, 22, 22, .5) !important;
    }
    nav .navbar-collapse .nav-link:hover {
        color: rgba(22, 22, 22, 1) !important;
    }
}